<section>
    <article>
      <nav class="clean" >
          <div class="nav-wrapper">
            <div class="col s6">
              <a routerLink="/" class="breadcrumb">
                  <i class="material-icons">home</i> Página inicial
              </a>
              <a class="breadcrumb active">Funcionários
              </a>
            </div>
          </div>
        </nav>
        <h3 class="mar-t-0">Funcionários</h3>
    </article>
</section>

<div class="row">
  <form class="col s10">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" [(ngModel)]="filterEmployee" name="filterEmployee" placeholder="Digite para filtrar">
        <label class="active">Pesquisar</label>
      </div>
    </div>
  </form>

  <div class="col s2">
    <button class="btn waves-effect waves-light blue-grey darken-4 mar-t-25" (click)="createEmployee()">
      Adicionar
    </button>
  </div>
</div>

<table class="highlight responsive-table">
  <thead>
    <tr>
        <th>Nome</th>
        <th>Função</th>
        <th>Empresa</th>
    </tr>
  </thead>

  <tbody>
    <!-- Resolvi usar o filter dessa lista de funcionários usando Pipe que é muito parecido com o que tinhamos no Angular 1.x -->
    <!-- Mas essa feature não veio para o Angular 2 por não ser tão perfomático. -->
    <!-- Poderiamos chamar aqui o método getEmployeesList(), como foi feito na lista Controle de embarques -->
    
    <!-- <tr *ngFor="let employee of getEmployeesList()"> -->
    <tr *ngFor="let employee of employees | filterEmployee:filterEmployee">
      <td>{{ employee.name }}</td>
      <td>{{ employee.func }}</td>
      <td>{{ employee.company }}</td>
    </tr>
  </tbody>
</table>