<section>
    <article>
      <nav class="clean" >
          <div class="nav-wrapper">
            <div class="col s6">
              <a routerLink="/" class="breadcrumb"><i class="material-icons">home</i> Página inicial</a>
              <a routerLink="/employees" class="breadcrumb">Funcionários</a>
              <a class="breadcrumb active">Funcionário</a>
            </div>
          </div>
        </nav>
        <h3 class="mar-t-0">Funcionário</h3>
    </article>
</section>


<div class="row">
  <form #f="ngForm" class="col s10" >
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" name="name" ngModel>
        <label class="active">Nome</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" name="func" ngModel>
        <label class="active">Funçao</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" name="company" ngModel>
        <label class="active">Empresa</label>
      </div>
    </div>
  </form>
</div>


<div class="col s2">
  <button class="btn waves-effect waves-light blue-grey darken-4" type="button" (click)="onSubmit(f)" >
    Salvar
  </button>
</div>