<section>
    <article>
      <nav class="clean" >
          <div class="nav-wrapper">
            <div class="col s6">
              <a routerLink="/" class="breadcrumb"><i class="material-icons">home</i> Página inicial</a>
              <a routerLink="/boarding" class="breadcrumb">Lista de embarques</a>
              <a class="breadcrumb active">Embarque</a>
            </div>
          </div>
        </nav>
        <h3 class="mar-t-0">Controle de embarque</h3>
    </article>
</section>


<div class="row">
  <form #formBoarding="ngForm" class="col s10" >
    <div class="row">
      <div class="input-field col s12 ">
        <select materialize="material_select" name="employee" #employee required (change)="onChangeEmployee($event.target.value)">
            <option value="" disabled selected>Selecione um funcionário</option>
            <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
        </select>
        <label for="tx_employee">Funcionário</label>

        <app-label-required [showError]="checkValidTouched(employee)"></app-label-required>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s6 ">
        <input type="date" name="dtBoarding" #dtBoarding [(ngModel)]="boarding.dtBoarding" required  />

        <label class="active" for="tx_func">Data de Embarque</label>
        
        <app-label-required [showError]="checkValidTouched(dtBoarding)"></app-label-required>
      </div>
      
      <div class="input-field col s6 ">
        <input type="date" name="dtLanding" #dtLanding [(ngModel)]="boarding.dtLanding" required  />

        <label class="active" for="tx_func">Data de Desembarque</label>
        
        <app-label-required [showError]="checkValidTouched(dtLanding)"></app-label-required>
      </div>
    </div>
  </form>
</div>


<div class="col s2">
  <button class="btn waves-effect waves-light blue-grey darken-4" type="button" 
        [disabled]="!formBoarding.valid" 
        (click)="onSubmit(formBoarding)" >
    Salvar
  </button>
</div>